/*CARDS-DETALLES*/
.card--detalle--body strong{
    background-color: brown;
    border-radius: 6px;
}

/*TABLAS_DETALLES*/

table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  padding: 12px 15px;       
  text-align: left;         
  vertical-align: middle;   
}

td input[type="number"] {
  padding: 6px;
  margin-right: 8px;        
  width: 70px;              
}

td button {
  padding: 6px 12px;        
}